@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Questrial&display=swap');

html {
  height: 100%;
  width: 100%;
}

body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: Questrial;
  justify-content: center;
}

body {
  font-family: Arial, sans-serif;
}


nav {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0.5, 0.4);
  height: 10vh;
}

nav a{
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.3vw;
}

nav a:hover {
  opacity: 0.7;
  color: #1d5219;
  transform: scale(1.2);
}
.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-list li {
  letter-spacing: 3px;
  padding: 32px;
  
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}
.logo{
  display: none;
}

@media (max-width: 768px) {
  nav{
    justify-content: space-between;
  }
  .nav-list {
    position: absolute;
    top: 15vh;
    right: 0;
    width: 100%;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
    font-size: 30px;
  }
  .nav-list img{
    display: none;
  }
  .mobile-menu {
    display: block;
    right: 0;
    
  }
  .nav-list a{
    font-size: 5vw;
  }
  .logo{
    display: flex;
    font-size: 4vw;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.hero {
  background: url('/fotos/IMG_20190219_110225166.jpg') center/cover no-repeat;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;

}

.more h1 {
  font-size: 8vw;
  margin-bottom: 1rem;
}

.more p {
  font-size: 3vw;
}
.contactButton {
  background: #3cb371;
  color: white;
  padding: 0.5em;
  font-size: 1.5vw;
  font-weight: 600;
  border-radius: 1em;
  border: none;
  letter-spacing: 0.05em;
  align-items: center;
  box-shadow: inset 0 0 1.8em -0.7em #2e8b57;
  height: 3em;
  padding-inline: 2em;
  margin-top: 2%;
}


.contactButton:hover {
  letter-spacing: 3px;
  background-color: #007533;
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(0, 0, 0) 0px 12px 44px 0px;
}

.contactButton:active {
  letter-spacing: 3px;
  background-color: #007533;
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

@media screen and (max-width: 768px) {
  .hero{
    height: 100vh;
  }
  
  .more{
    margin-top: 30%;
    text-align: center;
    padding-left: 20px;
  }
  .more h1{
    font-size: 10vw;
  }
  .more p{
    font-size: 6vw;
  }

  .contactButton{
    font-size: 3vw;
    margin-top: 20vh;
  }
  
}


.about {  
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  background-color: #ddf4e3;
  padding: 30px;
  color: #235d3a;
  
}

.text {
  width: 50%;
  font-size: 1.8vw;
}

.imagens-conteiner {
  position: relative;
  width: 50%;
  border-color: #c7c7c7;
  background-image: url(/fotos/func.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
/*imagems dos funcionarios*/



.services {
  text-align: center;
  align-items: center;
  background-color: #f0f5f1;
  padding: 40px ;
  color: #235d3a;
}

.services ul {
  list-style: none;
}


.list-imagens {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.list-imagens li {
  color: white;
  text-decoration: none;
  margin: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 2, 0.5);
  padding: 15px;
}
.list-imagens li:hover {
  transform: scale(1.2);
}
.list-imagens h2{
  color: #235d3a;
  background: rgba(255 , 255, 255, .60);
  border-radius: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  
}

@media screen and (max-width: 768px) {
  .about{
    height: 70vh;
  }
  .text {
    width: 100%;
    font-size: 4vw;

  }

  .imagens-conteiner {
    background-image: url(/fotos/func.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 20vh;
    padding: 0;
  }

  
  .services{
    height: 50vh;
  }
   
  .services ul {
    overflow-y: scroll;

  }

  .services li {
    margin: 20px;
    height: 50wh;
    padding: 10px;
  }
}

.contact {
  text-align: center;
  padding:40px;
  background-color: #397d54;
  color: white;
}
.content {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
  text-align: center;
}

.forms {
  flex: 1;
  background: rgba(0, 0, 0.5, 0.4);
  border-radius: 10px;
  margin: 10px;
  align-items: center;
  display: inline-block;
}
.forms button{
  border-radius: 15px;
  background-color: green;
  color: white;
  border: none;
  padding: 10px 80px;

}

.forms form{
  padding: 30px;
}

form input,
textarea{
  padding: 10px;
  border: 2px #235d3a;
  border-radius: 10px;
  margin: 15px;
  width: 90%;
  height: 4vh;
  
}
.vendedor {
  flex: 1;
  background: rgba(0, 0, 0.5, 0.4);
  border-radius: 10px;
  padding-left: 30px;
  margin: 10px;
  align-items: center;
}

@media screen and (max-width: 768px){
  .contact {
    text-align: center;
    padding:20px;
    background-color: #397d54;
    color: white;
  }
  .content {
    flex-direction: column;
    
  }
  .vendedor {
    margin-top: 20px;
    
  }
  
}

footer {
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 5%;

}


/*.socials {
  text-align: center;
  background-color: #73c088;
  padding: 5%;

}

.socials div {
  display: flex;
  margin: auto;
  justify-content: center;
}
@media screen and (max-width: 768px){
  .socials {
    justify-content: center;
  }
}*/